header h1 {
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
    height: 50px;
}
/* CSS untuk konten di bawah header */
#content {
    background-color: #4682B4; /* Ganti kode warna dengan warna biru (contoh) */
    padding: 100px 20px 20px 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.nav {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 30px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #B22222;
    font-size: medium;
}



.container{
    display: flex;
    justify-content: space-between;
}

.column{
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

#color-list{
    list-style: none;
    padding: 0;
}

.color-box{
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#footer{
    border-top: 1px solid #aaa;
    margin-top: 10px;
    padding-top: 10px;
}

.color-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}