nav{
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-right a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
header{
    height: 50px;
    background-color: cadetblue;
    margin: 0;
    padding: 10px;
    text-align: center;
}
#content{
    text-align: center;
    padding: 10px;
    margin: 0px;
}
#content li{
    margin-bottom: 10px;
    padding: 10px;
}


*{
    margin: 0;
    padding: 0;
}